<style>
    .footer-control {
        display: flex;
        justify-content: space-between;
        margin: 14px 30px 0
    }
</style>
<div class="app-wrapper-footer">
    <div class="app-footer">
        <div class="footer-control">
            <p>Copyright (c) @DateTime.Now.Year Recruitment Portal. All rights reserved.</p>
            <p>Designed and Managed by <a href="javascript:void(0)">PCI India</a></p>
        </div>
    </div>
</div>